.container{
    margin: 0 auto;
    max-width: 960px;
}
body{
    background-color: #F5F0F1;
}
h1,
h2,
h3,
p,
td,
span{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
h2,
h3,
.solve h3{
    padding: 0 10px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px #fff;
}
p{
    font-size: 18px;
    font-weight: 500;
}
table{
    border-spacing: 0;
}
.btn-group{
    margin: 10px 15%;
    display: inline-block;
    clear: both;
}
.matrix{
    background: #92B8CD;
    padding: 5px 15px;
    border: 2px solid #7693A8;
    border-radius: 10px 40px;
    box-shadow: 5px 5px 20px #9F9F9F;
}
#supportPlan{
    margin:10px auto;
    background: #92B8CD;
    border: 2px solid #4c4c4c;
    border-radius: 180px 0 0;
    box-shadow: 5px 5px 20px #9F9F9F;
    font-size: 22px;
}
#supportPlan td{
    padding: 10px;
    text-align: center;
    width: 40px;
    height: 30px;
}
.param{
    color: #fff;
    background-color: #4c4c4c;
}
input{
    padding-left: 5px;
    width: 50px;
    outline: none;
    border: 2px solid #9F9F9F;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}
input[type='text']::-webkit-input-placeholder{
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
input[type='text']::-moz-placeholder{
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
input[type='text']:-moz-placeholder{
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
input[type='text']:-ms-input-placeholder{
    opacity: 0.6;
    transition: opacity 0.5s ease;
}
input[type='text']:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
}
input[type='text']:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
}
input[type='text']:focus::-moz-placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
}
input[type='text']:focus:-moz-placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
}
input[type='text']:focus:-ms-input-placeholder{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.button {
    display: inline-block;
    margin: 15px 5px;
    border-radius: 6px 25px;
    background-color: #4c4c4c;
    border: none;
    outline: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 20px #9F9F9F;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.init-cond,
.solve{
    margin: 0 auto;
    padding: 10px 25px;
    display: inline-block;

}
.init-cond{
    float: left;
}
.solve{
    padding: 10px 25%;
}
